.palyer-box {
  width: 48vw;
  height: 35vh;
  text-align: center;
  margin: 1rem;
}

.palyer-box_total-score {
  border: 0.1rem solid pink;
  box-shadow: 0.2rem 0.2rem 1rem gray;
  height: 10vh;
  font-size: 1.2rem;
  margin: 1rem;
}

.palyer-box_current-score {
  border: 0.1rem solid red;
  box-shadow: 0.2rem 0.2rem 1rem gray;
  height: 10vh;
  font-size: 1.2rem;
  margin: 1rem;
}

.the-score {
  padding: 0.5rem;
}

.turn-border {
  border-left: 2px solid rgb(64, 160, 204);
  border-right: 2px solid rgb(64, 160, 204);
  border-top: 2px solid rgb(64, 160, 204);
  border-radius: 2rem;
}
