.palyer-box {
  width: 50vw;
  height: 50vh;
  text-align: center;
  border-bottom: 0.1rem solid black;
}

.palyer-box_total-score {
  border: 0.1rem solid pink;
  box-shadow: 0.2rem 0.2rem 1rem gray;
  height: 12vh;
  font-size: 1.2rem;
  margin: 3rem;
}

.palyer-box_current-score {
  border: 0.1rem solid red;
  box-shadow: 0.2rem 0.2rem 1rem gray;
  height: 12vh;
  font-size: 1.2rem;
  margin: 3rem;
}

.the-score {
  padding: 0.5rem;
}
